body {
    background-color: rgba(255, 255, 255, 0.73);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.registration-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: rgba(255, 235, 196, 0.34);
    width: 100%;
    border-bottom: rgb(157, 157, 157) solid 2px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 12%;
    padding-top: 25px;
}

.signin-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: rgba(255, 232, 196, 0.63);
    width: 100%;
    border-bottom: rgb(157, 157, 157) solid 2px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 75px;
    padding-top: 25px;
}

.registration-header h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    vertical-align: center;
}


.signin-header h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    vertical-align: center;
}

.bked-error {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #da2d2d;
    color: #ffffff;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: none;
}


form {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.2s ease-out;
    pointer-events: none;
    font-size: 16px;
    color: #333886;
}

.reg-form-input {
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #93a6ff;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.reg-form-input:focus, input:valid {
    outline: none;
    border-bottom: 1px solid #002cff;
}


.reg-form-input:focus + label {
    top: -10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    color: rgba(0, 21, 255, 0.71);
}

.reg-form-input.has-value + label {
    top: -10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #333886;
}


.reg-form-input.has-value {
    border-bottom: 1px solid #3a6b27;
}

.reg-form-input.has-value:focus + label {
    top: -10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 21, 255, 0.71);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.form-group .col {
    flex-basis: calc(50% - 5px);
    position: relative;
    margin-right: 10px;
}

.form-group .col2 {
    flex-basis: calc(100% + 5px);
    position: relative;
    margin-right: 0;
}


.form-group .col:last-child {
    margin-right: 0;
}

.form-group--single {
    width: 100%;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #248af8;
}

.submit-button::before {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease-in;
}

.error-message {
    color: red;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.correct-message {
    color: #3b6c34;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.form-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 999;
    display: none;
}

.loader {
    border: 5px solid #ffffff; /* Light grey */
    border-top: 5px solid #32aeff; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ok-image {
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: -32px;
    height: 12%;
}
.ok-button {
    position: absolute;
    bottom: 10px; /* Position the button 10px from the bottom */
    width: 85%; /* Set the width of the button */
    height: 45px; /* Set the height of the button */
    background-color: rgb(76, 175, 80); /* Set the background color of the button */
    color: white; /* Set the text color of the button */
    border: none; /* Remove the border of the button */
    border-radius: 10px; /* Add rounded corners to the button */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    left: 50%;
    transform: translateX(-50%);
}
.ok-button:hover {
    position: absolute;
    bottom: 10px; /* Position the button 10px from the bottom */
    width: 85%; /* Set the width of the button */
    height: 45px; /* Set the height of the button */
    background-color: rgb(100, 189, 104); /* Set the background color of the button */
    color: white; /* Set the text color of the button */
    border: none; /* Remove the border of the button */
    border-radius: 5px; /* Add rounded corners to the button */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    left: 50%;
    transform: translateX(-50%);
}
.ok-modal h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
.ok-modal h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.ok-modal h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.refresh-modal h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
.refresh-modal h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.refresh-modal h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}